#home {
    background: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

    section {
        background-color: rgba(0, 0, 0, 0.7);
        height: 80%;
        width: 35%;
        padding: 0 $md;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .icon-container {
        text-align: center;
    }

    .cube {
        color: $orange;
        font-size: 8rem;
    }

    h1{
        font-size: $lg;
        font-weight: 400;
        color: $off-white;
        text-align: center;
    }

    .play-button-container {
        width: 100%
    }

    a.play-button {
        display: block;
        background-color: $green;
        color: #fff;
        text-align: center;
        padding: $normal;
        cursor: pointer;
        border-radius: $button-radius;
        transition: 0.3s linear all;
    }

    a.play-button:hover {
        background-color: darken($green, 10%);
        box-shadow: $shadow;
    }

    .auth-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    .auth-buttons {
        width: 45%;
        border-radius: $button-radius;
        color: #fff;
        text-align: center;
        padding: $normal 0;
        cursor: pointer;
        margin-top: $lg;
        transition: 0.3s linear all;
    }

    #login-button {
        background-color: $red;
    }

    #login-button:hover {
        background-color: darken($red, 10%);
        box-shadow: $shadow;
    }

    #signup-button {
        background-color: $blue;
    }

    #signup-button:hover {
        background-color: darken($blue, 10%);
        box-shadow: $shadow;
    }
}

@media (max-width: 768px){
    #home section {
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}